body {background-color: #2a2e34}
h1 {color: white; text-align: center; font-family:optima;}
p{color: yellow; font-family: didot; font-size: 20px;}
h2 {color: black; text-align: center; font-family:optima;}
table{background-color:#e4b61a}